<h1 class="title"> Sasha Hakakha</h1>
<div class="link-section">
  <a class="link" href="pgp.html"> pgp </a>
</div>
<div class="lain">
    <img class="lain-image" src="/assets/lain.png" alt="she's literally me">
    <p class="lain-text">
        Hello! I am Sasha Hakakha.
        <br><br>
        I am a software engineer that likes
        emacs+evil, rust, and free software.
        <br><br>
        On the left is <em><strong>literally</strong></em> me.
        <br><br>
        Contact: me@&#123;this website&#125;
    </p>
</div>
