//https://coolors.co/2aff00-00a8ff-ff00a8-f2e3bc-c19875
$terminal-green: #2AFF00;
$neon-blue: #00A8FF;
$neon-pink: #FF00A8;
$light-gray: #B3B3B3;
$red: #FF0000; 

* {
  box-sizing: border-box;
}

body {
  background-image: url('/assets/obsidian.png');
  background-repeat: repeat;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  transform: scale(1);
}

.title{
    color: $red;
    font-size: 3em;
    text-align: center;
}

.link-section{
    text-align: center;
    border-bottom: 1px solid $neon-blue;
    padding-bottom: 20px;
}
.link{
    color: $neon-pink;
    font-size: 2em;
}

.lain{
    display: flex;
    align-items: center;
}

.lain-image{
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.lain-text{
    color: $terminal-green;
    font-size: 2.5em;
}

@media (max-width: 768px) {
  .content-container {
    transform: scale(0.5); /* Adjust the scale value to fit your content */
  }
}
